#story,
#prompt,
#feedback {
    white-space: pre-wrap;
}
body{

    background:#222;
    color:white;

    font-family:Arial;

    text-align:center;

    margin-top:40px;

}

.character{

    width:300px;

}

input{

    font-size:24px;

    padding:10px;

}

button{

    font-size:22px;

    padding:10px 20px;

    cursor:pointer;

}

.game{

    width:80%;

    margin:auto;

}